doctype html
html
    head
        title Application with Google authorization
    body
         header
            div.container
                h1 pleace Log in
        section.button
            div.container
                button 
                    a(href="/auth/google") LOG IN 
        footer
            div.container
                p &copy Copyrights Sylwia Krzymowska 2018
            